## История олимпийских игр

Данные содержат следующие признаки:

* ID - Unique number for each athlete
* Name - Athlete's name
* Sex - M or F
* Age - Integer
* Height - In centimeters
* Weight - In kilograms
* Team - Team name
* NOC - National Olympic Committee 3-letter code
* Games - Year and season
* Year - Integer
* Season - Summer or Winter
* City - Host city
* Sport - Sport
* Event - Event
* Medal - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd
%matplotlib inline

In [3]:
data = pd.read_csv('athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

**1. Сколько лет было самым молодым участникам (мужчина и женщина) олимпийских игр в 1992 году?**

In [ ]:
data[(data['Year'] == 1992) & (data['Sex'] == 'M')]['Age'].min() # мужчина

In [ ]:
data[(data['Year'] == 1992) & (data['Sex'] == 'F')]['Age'].min() # женщина

__2. Найдите среднее для роста теннисисток (большой теннис), которые участвовали в играх 2000 года.__

In [ ]:
data[(data['Event'].str.startswith("Tennis")) & (data['Year'] == 2000) & (data['Sex'] == 'F')]['Height'].mean()

__3. Выведите названия всех уникальных дисциплин, связанных с катанием на коньках (Skating). Посчитайте их количество__

In [ ]:
data[data['Event'].str.contains("Skating")]['Event'].unique()

__4. Выведите всех спортсменов, которые завоевали серебрянные медали в Париже. Посчитайте их количество__

In [6]:
data[(data.City == 'Paris')&(data.Medal == 'Silver')].shape[0]

509

__5. Найдите самую легкую (по весу) атлетку игр 2006 года. В каком виде спорта она участвовала?__

In [ ]:
data[(data['Year'] == 2006) & (data['Weight'] == data[(data['Year'] == 2006) & (data['Sex'] == 'F')]['Weight'].min())]['Event']

__6. В скольких олимпиадах принимал участие John Aalberg?__

In [ ]:
data[data['Name'] == 'John Aalberg']

__7. Сколько золотых медалей настольном теннисе выиграл Китай на Олимпиаде в 2008 году?__

In [ ]:
len(data[(data['Event'].str.contains("Table")) & (data['Year'] == 2008) & (data['Team'] == 'China') & (data['Medal'] == 'Gold')])

__8. Правда ли, что Испания выиграла меньше медалей чем Италия на играх 2016 года? Ну учитывайте NaN в колонке _Medal_.__

In [ ]:
len(data[(data['Team'] == 'Spain') & (data['Year'] == 2016)].dropna(subset = ['Medal'])) < len(data[(data['Team'] == 'Italy') & (data['Year'] == 2016)].dropna(subset = ['Medal']))

__9. Какая страна завоевала больше всех медалей в Figure Skating за всю историю?__

In [ ]:
data[data['Event'].str.contains('Figure Skating')].groupby('Medal')['NOC'].value_counts()['Gold']